<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="bloom-plugin-service-worker"
      version="0.0.1">
    <name>Service Worker</name>
    <description>Service Worker Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,serviceworker,service,worker</keywords>

    <js-module src="www/service_worker_container.js" name="ServiceWorkerContainer">
        <clobbers target="navigator.serviceWorker" />
    </js-module>
    <js-module src="www/service_worker_registration.js" name="ServiceWorkerRegistration">
        <clobbers target="ServiceWorkerRegistration" />
    </js-module>
    <js-module src="www/service_worker.js" name="ServiceWorker">
        <clobbers target="ServiceWorker" />
    </js-module>
    <!-- NB: may need to also overwrite MessageChannel to pass data
         between worker & browser -->

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ServiceWorker">
                <param name="ios-package" value="CDVServiceWorker" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVServiceWorker.h" />
        <source-file src="src/ios/CDVServiceWorker.m" />
        <resource-file src="src/ios/service_worker_shim.js" target="service_worker_shim.js" />
        <framework src="JavaScriptCore.framework" />
    </platform>

</plugin>
